	
		<div class="span2">
			<hr />
			<div style="padding-left: 30px;">
				{{ 'Pages'|trans({}) }}: {{ count_pages }}
			</div>
		</div>		
		
		<div class="pagination pagination-centered" style="padding-top: 35px;">			
			<ul>	
				{% for i in page_begin..page_end %}					
					{% if page_cur == i  %}
		  				<li class="active"><a href=" {{ url_cur ~ '/page/' ~ i }} "> {{ i }} </a></li>
		  			{% else %}
		  				<li><a href=" {{ url_cur ~ '/page/' ~ i }} "> {{ i }} </a></li>
		  			{% endif %}										
				{% endfor %}
			</ul>			       	
		</div>
	